@font-face {
  font-family: 'GowunBatang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.cmi {
  display: block;
  margin: 0px auto;
  width: 400px;
  background: none;

}

.font1 {
  text-align: center;
}

label {
  font-family: 'GowunBatang-Regular';
  margin-left: 20px;

}

.label.click {
  border: 1px solid #808080;
}

.nextBtn {
  font-family: 'GowunBatang-Regular';
  margin-top: 20px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  display: inline-block;
  background-color: #ffffff;
  color: black;
  border: 1px solid #d3d3d3;
}

.nextBtn:hover {
  background-color: #d3d3d3;
}

.nextImg {
  margin-right: 5px;
}

.giveBtn {

  font-family: 'GowunBatang-Regular';
  margin: 20px auto;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px;
  display: block;
  background-color: #ffffff;
  color: black;
  border: 1px solid #d3d3d3;
}

.giveBtn:hover {
  background-color: #d3d3d3;
}

.typeTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'GowunBatang-Regular';
  text-align: center;

}

.giftImage {
  margin-right: 5px;
}

.giveCandyPage {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.checkGiveCandy {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.writeMessage {

  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.typeSelect {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.selectGift {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.inputName {
  text-align: center;

  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}

.grayBox {
  padding: 20px;
  margin: 10px auto;
  background-color: #d3d3d3;
  border-radius: 20px;
  width: 70%;
}

.grayBox2 {
  padding: 20px;
  margin: 10px auto;
  background-color: #d3d3d3;
  border-radius: 20px;
  width: 70%;
}

.grayBox.click {

  border: #808080 2px solid;
}

.giveGiftImg {
  display: block;
  margin: 10px auto 30px auto;
}

.intro {
  font-size: 14px;
  text-align: center;
  font-family: 'GowunBatang-Regular';
}

.input {
  display: block;
  margin: 10px auto;
  width: 90%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #d3d3d3;
}

textarea {
  font-family: 'GowunBatang-Regular';
  display: block;
  margin: 10px auto;
  width: 90%;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #d3d3d3;
}

.to {
  font-family: 'GowunBatang-Regular';
  margin-left: 20px;
}