* {
  margin-top: 0px;
  padding: 0;
}



.imgbutton {
  background-color: transparent;


}

.resister {
  width: 100%;
  height: 100%;
  background-color: #F2DBD8;
}



.font {
  font-family: 'Gowun Batang', serif;
  color: rgb(63, 61, 61);
  font-size: 20px;
  margin: 8px 0px 8px 0px;
  margin-left: 0;

}

.rinput {
  display: inline-block;
  margin: 10px auto;
  width: 50%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: #d3d3d3;

}

.input2 {
  width: 50%;
  height: 20px;
  background-color: #FFBCAF;
  border: 1px solid black;
  border-radius: 5px;

}