*{
  margin-top: 0px;
  padding:0;
}

.bgc {
  background-color: #F2DBD8;
}

.imgbutton {
  background-color: #F2DBD8;
  margin-left: 50px;
  border: none;
  
}


.font {
  font-family: 'Gowun Batang', serif;
  margin-left: 20px;
  color: rgb(63, 61, 61);
  line-height: 1.0;
  font-size: 20px;
}