name: BACK_DEV_DEPLOY

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - develop

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  SSH:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Stopping server
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.DEV_SSH_KEY }}
          host: ${{ secrets.BACK_DEV_HOST }}
          username: ${{ secrets.USER }}
          script: |
            forever stop SS

      - name: check_Stopserver
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Back Server Stopping Forever failed...
         fields: repo,message,eventName,workflow,error # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: U033BH9PANP, U038TCQV90B
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure()


      - name: git cloning...
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.DEV_SSH_KEY }}
          host: ${{ secrets.BACK_DEV_HOST }}
          username: ${{ secrets.USER }}
          script: |
            
            cd SugarFree
            git reset --hard
            git fetch
            git pull
      - name: check_clonging
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Back Server Git cloning failed...
         fields: repo,message,eventName,workflow,error # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: U033BH9PANP, U038TCQV90B
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure()

      - name: Server runs on Background 
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.DEV_SSH_KEY }}
          host: ${{ secrets.BACK_DEV_HOST }}
          username: ${{ secrets.USER }}
          script: |
            cd SugarFree/Server/app
            forever start server.js
            
      - name: check_runons
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Back Server running Server failed...
         fields: repo,message,eventName,workflow,error # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: U033BH9PANP, U038TCQV90B
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure()
      - name: action-slack
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Develop Branch Backend - Committed by Tutor
         fields: repo,message,author,eventName,workflow,job,took,step
         mention: U033BH9PANP, U038TCQV90B
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.
