name: FRONT_DEV_DEPLOY

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - develop

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  SSH:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: git cloning...
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.DEV_SSH_KEY }}
          host: ${{ secrets.FRONT_DEV_HOST }}
          username: ${{ secrets.USER }}
          script: |
            cd SugarFree
            git reset --hard
            git fetch
            git pull
            cd Front
      - name: check_clonging
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Front Server Git cloning failed...
         fields: repo,message,eventName,workflow,error # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: 권순재, 장태준
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure()

      - name: Front Rebuilding...
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.DEV_SSH_KEY }}
          host: ${{ secrets.FRONT_DEV_HOST }}
          username: ${{ secrets.USER }}
          script: |
            cd SugarFree/Front
            yarn build
      - name: check_Frontrebuilding
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Front Server building failed...
         fields: repo,message,eventName,workflow,error # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: 권순재, 장태준
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: failure()
      - name: action-slack
        uses: 8398a7/action-slack@v3
        with:
         status: ${{ job.status }}
         author_name: Develop Brach Front Commited by Tutor
         fields: repo,message,eventName,workflow,job,took,step # action,eventName,ref,workflow,job,took 추가할 수 있음
         mention: 권순재, 장태준
         if_mention: failure,cancelled
        env:
         SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.
        